<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">#</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
           <li class="nav-item">
            <a class="nav-link" href="/">Página Inicial<span class="sr-only"></span></a>            
          </li>
           <li class="nav-item active">
            <a class="nav-link" href="#">Cadastro<span class="sr-only">(current)</span></a>         
          </li>
        </ul>
      </div>
    </nav>
    
    <% if(typeof(validacao) != "undefined"){%>
        <div class="alert alert-danger" role="alert">
        <% for(var i = 0; i < validacao.length; i++){ %>
            <%= validacao[i].msg %>   
        <% } %>
        </div>
    <% }%>
    
    <div class="container">
        <form action="/cadastro/inserir" method="post" style="margin-top: 30px">
          <div class="form-group">
            <label for="email">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" aria-describedby="emailHelp" length='10'>
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" >
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha">
          </div>
          <div class="form-group">
                <label for="senhav">Digite a sua senha novamente</label>
                <input type="password" class="form-control" id="senha" name="senhav">
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

</body>
</html>