<!-- Navigation -->
<%- include('../header'); %>

<div class="col-sm-8">
    <h1>Dashboard</h1>
    <hr/>

</div>
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

</div>

<%- include('../footer'); %>
