<!-- Navigation -->
<%- include('../header'); %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<div class="col-sm-8">
    <h3>Dashboard</h3>
    <hr/>
    <div class="row col-sm-10">
        <div class="form-group row col-sm-4">
            <h4>Stats</h4>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Filtro</label>
            <div class="col-sm-3">
                <select id="filtro" class="form-control form-control-sm" style="width: 150px">
                    <option value="1">Tráfego</option>
                    <option value="2">Mensagens</option>
                    <option value="3">Conexões</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Período</label>
            <div class="col-sm-3">
                <select id="periodo" class="form-control form-control-sm" style="width: 150px">
                    <option value="1">Hora</option>
                    <option value="2">Minuto</option>
                </select>
            </div>

        </div>
        <hr/>

        <canvas id="canvas">

        </canvas>
    </div>
    <div class="row col-sm-5" style="margin-top: 40px">
        <h4>Clientes</h4>
        <hr/>
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Id do Cliente</th>
                <th scope="col">IP</th>
            </tr>
            </thead>
            <tbody>
            <%
            if(typeof(dados) != 'undefined'){
                for (var i = 0; i < dados.length; i++) {
            %>
            <tr>
                <td><%= dados[i].client_id %></td>
                <td><%= dados[i].client_address %></td>
            </tr>
            <%
                }
            }
            %>
            </tbody>
        </table>
    </div>
    <div class="row col-sm-2">

    </div>
</div>
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

<script>
    var ctx = document.getElementById("canvas");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '#',
                data: [0, 0, 0, 0, 0, 0],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>

</div>

<%- include('../footer'); %>
