<!-- Navigation -->
<%- include('../header'); %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="chartjs-plugin-streaming.min.js"></script>
<div class="col-sm-8">
    <h3>Dashboard</h3>
    <hr/>
    <div class="row col-sm-10">
        <div class="form-group row col-sm-4">
            <h4>Stats</h4>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Filtro</label>
            <div class="col-sm-3">
                <select id="filtro" class="form-control form-control-sm" style="width: 150px">
                    <option value="1">Tráfego</option>
                    <option value="2">Mensagens</option>
                    <option value="3">Conexões</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Período</label>
            <div class="col-sm-3">
                <select id="periodo" class="form-control form-control-sm" style="width: 150px">
                    <option value="1">Hora</option>
                    <option value="2">Minuto</option>
                </select>
            </div>

        </div>
        <hr/>

        <canvas id="canvas">

        </canvas>
    </div>
    <div class="row col-sm-5" style="margin-top: 40px">
        <h4>Clientes</h4>
        <hr/>
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Id do Cliente</th>
                <th scope="col">IP</th>
            </tr>
            </thead>
            <tbody>
            <%
            if(typeof(dados) != 'undefined'){
                for (var i = 0; i < dados.length; i++) {
            %>
            <tr>
                <td><%= dados[i].client_id %></td>
                <td><%= dados[i].client_address %></td>
            </tr>
            <%
                }
            }
            %>
            </tbody>
        </table>
    </div>
    <div class="row col-sm-2">

    </div>
</div>
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

<script>
    let ctx = document.getElementById("canvas");
    let dados = [];
    let data_label = [];
    let chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: data_label,
            datasets: [{
                label: '#',
                data: dados,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

    function carrega_dados_grafico() {

        let periodo_ = periodo.value;
        let filtro_ = filtro.value;
        let xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let resposta;

                try {
                    resposta = JSON.parse(this.responseText);
                }catch (e) {
                    console.log(e)
                }

                dados.length = 0;
                data_label.length = 0;

                for(let i = 0; i < resposta.length; i++){
                    dados.push(resposta[i].quantidade);
                    data_label.push(resposta[i].marca);
                }
                chart.data.datasets[0].label = "kb"
                chart.update();
                console.log(dados);
                setTimeout(carrega_dados_grafico, 10000);
            }
        };

        xhttp.open("GET", "/server/metrics?periodo="+periodo_+"&filtro="+filtro_, true);
        xhttp.send();
    }

    //carrega_dados_grafico();
</script>

</div>

<%- include('../footer'); %>
