<!-- Navigation -->
<%- include('../header'); %>
<head>
    <title>WebClient</title>
</head>
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<div class="col-sm-3">
    <form>
        <h4>Publish</h4>
        <div class="form-group">
            <label for="topic_pub">T贸pico</label>
            <input type="text" class="form-control" id="topic_pub" required>
            <label for="qos_1">QoS</label>
            <select class="form-control" id="qos_1">
                <option>0</option>
                <option>1</option>
                <option>2</option>
            </select>
            <div class="form-check" style="margin-top: 20px; margin-bottom: 20px">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Reter
                </label>
            </div>
            <label for="mensagem">Mensagem</label>
            <input type="text" class="form-control" id="mensagem" required>
        </div>
        <button type="submit" id="pub_btn" class="btn btn-primary">Enviar</button>
    </form>
</div>
<div class="col-sm-3">
    <form>
        <h4>Subscribe</h4>
        <div class="form-group">
            <label for="topic_sub">T贸pico</label>
            <input type="text" class="form-control" id="topic_sub">
            <label for="qos_2">QoS</label>
            <select class="form-control" id="qos_2">
                <option>0</option>
                <option>1</option>
                <option>2</option>
            </select>
        </div>
        <button type="submit" id="subs_btn" class="btn btn-primary">Enviar</button>
    </form>
</div>
<div class="col-sm-8" style="margin-top: 30px; margin-left: 15%">
    <table class="table">
        <thead>
        <tr>
            <th>
                T贸pico
            </th>
            <th>
                Mensagem
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    let client = null;
    let clientid = "mqtt_webclient_" + makeid();
    function server_connect(){
        let options = {
            clientId: clientid,
            username: '<%= token %>',
            protocolId: 'MQTT',
            protocolVersion: 4,
            clean: true,
            reconnectPeriod: 1000,
            connectTimeout: 30 * 1000,
            will: {
                topic: 'WillMsg',
                payload: 'Connection Closed abnormally..!',
                qos: 0,
                retain: false
            },
            rejectUnauthorized: false
        }

        let host = "ws://localhost:8888";

        try{
            client = mqtt.connect(host, options);

            client.on('error', function (err) {
                console.log(err);
                client.end()
            });

            client.on('connect', function () {
                console.log('client connected:' + options.clientId)
            });

            client.on('message', function (topic, message, packet) {
                console.log('Received Message:= ' + message.toString() + '\nOn topic:= ' + topic)
            });

            client.on('close', function () {
                console.log(options.clientId + ' disconnected')
            })

            return true;
        }catch (e) {
            console.log(e)
            return false;
        }

    }

    function publish(topic, message, qos){
        console.log(topic);
        console.log(message);
        if(client != null){
            try{
                client.publish(topic, message,{qos: qos, retain: false});
            }catch(e){
                console.log(e);
            }

        }else{
            alert("null connection!");
        }
    }

    function subscribe(topic, qos){
        if(client != null){
            client.subscribe(topic, {qos: 0});
        }else{
            alert("null connection!");
        }
    }

    function makeid() {
        let text = "";
        let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (let i = 0; i < 10; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
    }


    $('#pub_btn').on('click', function(event){
        event.preventDefault();

        if(topic_pub.value.trim().length === 0|| mensagem.value.trim().length === ""){
            alert("valores vazios");
            return;
        }

        let topic = topic_pub.value;
        let qos = qos_1.value;
        let mensagem_ = mensagem.value;

        publish(topic, mensagem_, qos);

    })


    $('#subs_btn').on('click', function(event){
        event.preventDefault();

        if(topic_sub.value.trim().length === 0){
            alert("t贸pico vazio");
            return;
        }

        let topic = topic_sub.value;
        let qos = qos_2.value;

        subscribe(topic, qos);

    })
</script>
<%- include('../footer'); %>