<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Prefixo<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/info">Informações<span class="sr-only">(current)</span></a>
            </li>

        </ul>

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Notificações<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Configurações
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link dropdown-item" href="/settings" tabindex="-1" aria-disabled="true">Opções de servidor</a>
                    <a class="nav-link dropdown-item" href="/profile"  aria-disabled="true">Perfil</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">Sair</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
        <ul class="nav flex-column col-sm-2" id="pills-tab">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Dispositivos</a>
                <ul>
                    <li class="toc-entry toc-h3"><a class="nav-link" href="/devices/register">Cadastrar</a></li>
                    <li class="toc-entry toc-h3"><a class="nav-link" href="/devices/list">Listar</a></li>
                    <li class="toc-entry toc-h3"><a class="nav-link" href="/traffic" style="display: inline-flex">Live Traffic</a></li>
                    <li class="toc-entry toc-h3"><a class="nav-link" href="/stats" style="display: inline-flex">Estatísticas</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Interfaces</a>
                <ul>
                    <li class="toc-entry toc-h3"><a class="nav-link" href="/mqtt_web" style="display: contents">MQTT Web</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>

        </ul>
    </div>


    <style>
        ul li{
            list-style-type: none;
        }

    </style>