<%- include('header'); %>
<title>Perfil</title>
<div class="col-sm-10">
    <hr/>
    <h5 class="display-5">Dados de cadastro</h5>
    <hr>
    <div class="row col-sm-10">
        <form>
            <% if(typeof (dados[0]) != "undefined"){ %>
                <div class="form-group" id="form">
                    <label for="exampleInputEmail1">Nome</label>
                    <input type="text" id="nome" name="nome" class="form-control" aria-describedby="Nome do usuário"
                           readonly value='<%= dados[0].nome %>'>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" id="email" name="email" class="form-control" aria-describedby="Email do usuário"
                           readonly value='<%= dados[0].email %>'>
                </div>
            <% }else{console.log(dados)} %>
            <button type="submit" id="enviar" class="btn btn-primary">Atualizar Dados</button>
            <button type="cancelar" id="cancelar" class="btn btn-danger" hidden>Cancelar</button>
        </form>

    </div>
    <h5 style="margin-top: 20px">Alterar Senha</h5>
    <hr>
    <div class="row col-sm-10" style="margin-top: 40px">
        <button type="button" id="senha" class="btn btn-primary">Atualizar Senha</button>
    </div>
</div>

<div class="modal" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atualizar senha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" id="mensagem" hidden>

                </div>
                <form id="troca_senha">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha antiga</label>
                        <input type="password" id="senha_antiga" name="senha_antiga" class="form-control" minlength="8">
                        <small class="form-text text-muted" style="color: red !important;" id="msg1" hidden>Este campo é
                            obrigatório
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Digite a nova senha</label>
                        <input type="password" id="senha_nova_1" name="senha_nova_1" class="form-control" minlength="8">
                        <small class="form-text text-muted" id="msg2" style="color: red !important;" hidden>digite a
                            nova senha
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Redigite a nova senha</label>
                        <input type="password" id="senha_nova_2" name="senha_nova_2" class="form-control" minlength="8">
                        <small class="form-text text-muted" id="msg3" style="color: red !important;" hidden>Redigite a
                            nova senha
                        </small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_senha_" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

<script>

    enviar.addEventListener('click', function (e) {
        e.preventDefault();
        if (!enviar.getAttribute('enviar')) {
            this.innerHTML = "Salvar";
            this.setAttribute('enviar', true);
            nome.readOnly = false;
            email.readOnly = false;
            cancelar.hidden = false;
        } else {
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    try{
                        let resultado = JSON.parse(this.responseText);
                        for(let i = 0; i < resultado.length; i++){
                            if(resultado[i].msg){
                                alert(resultado[i].msg);
                            }
                        }

                        location.reload(true);
                    }catch (e) {
                        console.log(e);
                    }
                    cancelar_();
                }
            };
            xhttp.open("POST", "/dados/usuario/salvar?email=" + email.value + "&nome=" + nome.value, true);
            xhttp.send();
        }
    })

    cancelar.addEventListener('click', function (e) {
        cancelar_(e);
    });

    senha.addEventListener('click', function (e) {
        $('#modal').modal('show');
    })

    btn_senha_.addEventListener('click', function (e) {

        if (senha_antiga.value.trim().length === 0) {
            msg1.hidden = false;
            return;
        }

        if (senha_nova_1.value.trim().length === 0) {
            msg2.hidden = false;
            return;
        }

        if (senha_nova_2.value.trim().length === 0) {
            msg3.hidden = false;
            return;
        }

        let req = 'senha_antiga=' + senha_antiga.value;
        req += '&senha_nova_1=' + senha_nova_1.value
        req += '&senha_nova_2=' + senha_nova_2.value

        let xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
                mensagem.innerHTML = '<ul>'
                let check = false;
                try {
                    let temp = JSON.parse(this.responseText);
                    for (let i = 0; i < temp.length; i++) {
                        if ((temp[i].msg && !temp[i].status) || (temp[i].msg && temp[i].status && temp[i].status == 1)){
                            mensagem.hidden = false;
                            mensagem.innerHTML += '<li>' + temp[i].msg + '</li>';
                            check = true;
                        }
                    }
                    mensagem.innerHTML += '</ul>';

                    if (!check) {
                        alert('Senha alterada com sucesso');
                        $('#modal').modal('hide');
                        location.reload(true);
                    }
                } catch (e) {
                    console.log(e);
                }

                //alert("Senha Atualizada com sucesso");
            } else {
                //location.reload(true);
            }
        };
        xhttp.open("POST", "/dados/usuario/senha", true);
        xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
        xhttp.send(req);
    })


    $('#modal').on('hidden.bs.modal', function (e) {
        senha_antiga.value = '';
        senha_nova_1.value = '';
        senha_nova_2.value = '';
    })


    function cancelar_(e){

        if(e){
            e.preventDefault();
        }

        enviar.innerHTML = "Atualizar Dados";
        enviar.removeAttribute('enviar')
        nome.readOnly = true;
        email.readOnly = true;
        cancelar.hidden = true;
    }
</script>

<%- include('footer'); %>