<%- include('header'); %>
<head>
    <title>Estatísticas</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
<div class="col-sm-8">
    <div class="jumbotron">
        <p class="lead">Dados de conexão</p>
        <hr/>
        <p>Bytes Trafegados</p>
        <p>Dispositivos conectados</p>
        <p>Dispositivos cadastrados</p>
        <p>Dispositivos cadastrados que estão conectados</p>
        <p>Tempo de funcionamento do broker</p>
    </div>
</div>
<%- include('footer'); %>