<%- include('header'); %>
<head>
    <title>Estatísticas</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
<div class="col-sm-8">

$SYS/broker/bytes/received
1396
The total number of bytes received since the broker started.
$SYS/broker/bytes/sent
319264
The total number of bytes sent since the broker started.
$SYS/broker/clients/connected
1
The number of currently connected clients.
$SYS/broker/clients/expired
0
The number of disconnected persistent clients that have been expired and removed through the persistent_client_expiration option.
$SYS/broker/clients/disconnected
0
The total number of persistent clients (with clean session disabled) that are registered at the broker but are currently disconnected.
$SYS/broker/clients/maximum
1
The maximum number of clients that have been connected to the broker at the same time.
$SYS/broker/clients/total
1
The total number of active and inactive clients currently connected and registered on the broker.
$SYS/broker/load/connections/+
1min: 0.86
5min: 0.54
15min: 0.29
The moving average of the number of CONNECT packets received by the broker over different time intervals. The final "+" of the hierarchy can be 1min, 5min or 15min. The value returned represents the number of connections received in 1 minute, averaged over 1, 5 or 15 minutes.
$SYS/broker/load/bytes/received/+
1min: 72.07
5min: 44.90
15min: 24.99
The moving average of the number of bytes received by the broker over different time intervals. The final "+" of the hierarchy can be 1min, 5min or 15min. The value returned represents the number of bytes received in 1 minute, averaged over 1, 5 or 15 minutes.
$SYS/broker/load/bytes/sent/+
1min: 1574.48
5min: 565.95
15min: 231.63
The moving average of the number of bytes sent by the broker over different time intervals. The final "+" of the hierarchy can be 1min, 5min or 15min. The value returned represents the number of bytes sent in 1 minute, averaged over 1, 5 or 15 minutes.
$SYS/broker/load/messages/received/+
1min: 1.78
5min: 1.65
15min: 1.16
The moving average of the number of all types of MQTT messages received by the broker over different time intervals. The final "+" of the hierarchy can be 1min, 5min or 15min. The value returned represents the number of messages received in 1 minute, averaged over 1, 5 or 15 minutes.
$SYS/broker/load/messages/sent/+
1min: 40.89
5min: 15.50
15min: 6.77
The moving average of the number of all types of MQTT messages sent by the broker over different time intervals. The final "+" of the hierarchy can be 1min, 5min or 15min. The value returned represents the number of messages send in 1 minute, averaged over 1, 5 or 15 minutes.
$SYS/broker/load/publish/dropped/+
1min:
5min:
15min:
The moving average of the number of publish messages dropped by the broker over different time intervals. This shows the rate at which durable clients that are disconnected are losing messages. The final "+" of the hierarchy can be 1min, 5min or 15min. The value returned represents the number of messages dropped in 1 minute, averaged over 1, 5 or 15 minutes.
$SYS/broker/load/publish/received/+
1min: 0.02
5min: 0.10
15min: 0.07
The moving average of the number of publish messages received by the broker over different time intervals. The final "+" of the hierarchy can be 1min, 5min or 15min. The value returned represents the number of publish messages received in 1 minute, averaged over 1, 5 or 15 minutes.
$SYS/broker/load/publish/sent/+
1min: 39.17
5min: 14.04
15min: 5.73
The moving average of the number of publish messages sent by the broker over different time intervals. The final "+" of the hierarchy can be 1min, 5min or 15min. The value returned represents the number of publish messages sent in 1 minute, averaged over 1, 5 or 15 minutes.
$SYS/broker/load/sockets/+
1min: 0.02
5min: 0.09
15min: 0.07
The moving average of the number of socket connections opened to the broker over different time intervals. The final "+" of the hierarchy can be 1min, 5min or 15min. The value returned represents the number of socket connections in 1 minute, averaged over 1, 5 or 15 minutes.
$SYS/broker/messages/inflight
The number of messages with QoS>0 that are awaiting acknowledgments.
$SYS/broker/messages/received
229
The total number of messages of any type received since the broker started.
$SYS/broker/messages/sent
7815
The total number of messages of any type sent since the broker started.
$SYS/broker/publish/messages/dropped
0
The total number of publish messages that have been dropped due to inflight/queuing limits. See the max_inflight_messages and max_queued_messages options in mosquitto.conf(5) for more information.
$SYS/broker/publish/messages/received
3
The total number of PUBLISH messages received since the broker started.
$SYS/broker/publish/messages/sent
7592
The total number of PUBLISH messages sent since the broker started.
$SYS/broker/retained messages/count
48
The total number of retained messages active on the broker.
$SYS/broker/store/messages/count
The number of messages currently held in the message store. This includes retained messages and messages queued for durable clients.
$SYS/broker/store/messages/bytes
The number of bytes currently held by message payloads in the message store. This includes retained messages and messages queued for durable clients.
$SYS/broker/subscriptions/count
1
The total number of subscriptions active on the broker.
$SYS/broker/version
mosquitto version 1.4.15
The version of the broker. Static.
</div>
<%- include('footer'); %>