<!-- Navigation -->
<%- include('header'); %>
<head>
    <title>Tráfego ao vivo</title>
</head>
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<script src="mqtt_conn.js"></script>

<div class="col-sm-8" style="margin-top: 30px;">
    <table class="table">
        <thead>
        <tr>
            <th>
                Tópico
            </th>
            <th>
                Mensagem
            </th>
        </tr>
        </thead>
        <tbody id="tabela">
        </tbody>
    </table>
</div>

<%- include('footer'); %>